/*Body*/
* {
    margin:0; 
    padding:0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p.title{
    font-weight: 200;
    font-size: 60px;
}
p.subtitle{
    font-weight: 300;
    font-size: 20px;
}
p{
	font-weight: 500;
    text-align: justify;
}
.card{
	box-shadow: 0 5px 30px #000000;
}
.card-header{
    border-left-width: 8px;
	border-color: #FCA615;
	border-left-style: solid;
	background: #FFFFFF;
}
.card-body{
    text-align: justify;
}
.card-text{
    border-left-width: 8px;
	border-color: #e3244f;
	border-left-style: solid;
	background: #FFFFFF;
}
.ligthbox{
    color: #FFFFFF;
    background: rgb(119,89,153);
    background: linear-gradient(90deg, rgba(119,89,153,.6) 0%, rgba(20,187,239,.6) 100%);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.ejemplo1{
    background: #FCA615;
    padding: 0px;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.container00{
    justify-content: center;
    display: flex;
    background: #14BBEF;
    width: 100%;
    height: 100%;
}
.container01{
    justify-content: flex-start;
    display: flex;
    background: #683F8D;
    width: 100%;
}
.container02{
    justify-content: flex-end;
    display: flex;
    background: #683F8D;
    width: 100%;
}
.container03{
    justify-content: center;
    display: flex;
    background: #683F8D;
    width: 100%;
}
.container04{
    justify-content: space-around;
    display: flex;
    background: #683F8D;
    width: 100%;
}
.container05{
    justify-content: space-between;
    display: flex;
    background: #683F8D;
    width: 100%;
}